.minting-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b8c7db;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.minting-container img {
  width: 270px;
  -webkit-animation: pulsate-fwd 1.3s ease-in-out infinite both;
	animation: pulsate-fwd 1.3s ease-in-out infinite both;
}

.minting-container h2 {
  transform: translateY(50px);
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}